[unit]
Description=map-game-api
Documentation=https://github.com/grahamross12/map-game-api
After=network.target

[Service]
Type=simple
User=ec2-user
ExecStart=/bin/node /home/ec2-user/map-game-api/index.js
WorkingDirectory=/home/ec2-user/map-game-api
Restart=on-failure

[Install]
WantedBy=multi-user.target
